.App {
  min-height: 100vh;
  background-color: lightblue;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
  font-weight: bold;
  font-size: 64px;
  word-spacing: 50%;
}

h2{
  
  font-size: 16px;
}
.search-form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 40%;
  border: 2px solid darkcyan;
  border-radius: 5px;
  padding: 3px;
}

.search-button{
  background: lightgray;
  border: 2px solid darkcyan;
  border-radius: 5px;
  padding: 5px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



